In [1]:
import tensorflow as tf
import tensorflow_datasets as tfds
import tensorflow_ranking as tfr

In [2]:
import pprint

In [3]:
def printds(ds, n=5):
    for example in ds.take(n):
        pprint.pprint(example)

In [4]:
# Load MSLR-WEB10K dataset from TFDS.
ds = tfds.load("mslr_web", split="train")

2022-07-06 14:19:36.414745: W tensorflow/core/platform/cloud/google_auth_provider.cc:184] All attempts to get a Google authentication bearer token failed, returning an empty token. Retrieving token from files failed with "NOT_FOUND: Could not locate the credentials file.". Retrieving token from GCE failed with "FAILED_PRECONDITION: Error executing an HTTP request: libcurl code 6 meaning 'Couldn't resolve host name', error details: Could not resolve host: metadata".

Downloading and preparing dataset 1.15 GiB (download: 1.15 GiB, generated: 381.58 MiB, total: 1.52 GiB) to ~/tensorflow_datasets/mslr_web/10k_fold1/1.0.0...

Dl Completed...: 0 url [00:00, ? url/s]

Dl Size...: 0 MiB [00:00, ? MiB/s]

Extraction completed...: 0 file [00:00, ? file/s]

Generating splits...:   0%|          | 0/3 [00:00<?, ? splits/s]

Generating train examples...:   0%|          | 0/6000 [00:00<?, ? examples/s]

Shuffling ~/tensorflow_datasets/mslr_web/10k_fold1/1.0.0.incompleteYZ57VZ/mslr_web-train.tfrecord*...:   0%|  …

Generating vali examples...:   0%|          | 0/2000 [00:00<?, ? examples/s]

Shuffling ~/tensorflow_datasets/mslr_web/10k_fold1/1.0.0.incompleteYZ57VZ/mslr_web-vali.tfrecord*...:   0%|   …

Generating test examples...:   0%|          | 0/2000 [00:00<?, ? examples/s]

Shuffling ~/tensorflow_datasets/mslr_web/10k_fold1/1.0.0.incompleteYZ57VZ/mslr_web-test.tfrecord*...:   0%|   …

Dataset mslr_web downloaded and prepared to ~/tensorflow_datasets/mslr_web/10k_fold1/1.0.0. Subsequent calls will reuse this data.

2022-07-06 14:24:12.333982: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [5]:
tfds.as_dataframe(ds.take(4))

                                         bm25_anchor  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1  [0.0, 9.997904, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

                                           bm25_body  \
0  [29.42768, 9.288441, 18.526854, 0.0, 18.957465...
1  [36.243178, 24.041161, 35.895516, 40.150412, 4...
2  [0.0, 31.099175, 30.484913, 31.105763, 0.0, 22...
3  [12.288321, 13.075652, 12.605294, 15.993784, 1...

                                          bm25_title  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 11.846837, 0.0, 0.0,...
1  [9.428295, 7.181888, 27.228748, 24.879653, 24....
2  [0.0, 28.65454, 28.65454, 16.023471, 0.0, 13.4...
3  [7.69312, 9.684237, 11.621084, 4.758204, 10.59...

                                            bm25_url  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 7.998056, 0.0, 0.0, ...
1  [7.812148, 0.0, 23.955459, 0.0, 0.0, 0.0, 0.0,...
2  [0.0, 22.842047, 22.842047, 19.6778, 0.0, 0.0,...
3  [8.196643, 8.196643, 0.0, 8.695295, 8.196643, ...

                                 bm25_whole_document  \
0  [28.927591, 9.288662, 18.490218, 0.0, 18.95132...
1  [36.497524, 24.591495, 36.488682, 40.325685, 4...
2  [0.0, 33.156394, 32.988977, 32.236219, 0.0, 22...
3  [14.136543, 13.76887, 13.591888, 16.030504, 16...

                                boolean_model_anchor  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

                                  boolean_model_body  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...
1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2  [0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

                                 boolean_model_title  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2  [0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, ...
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

                                   boolean_model_url  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2  [0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

                        boolean_model_whole_document  ...  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...  ...
1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  ...
2  [0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, ...  ...
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...  ...

                           variance_of_tf_idf_anchor  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1  [0.0, 9.003951, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

                             variance_of_tf_idf_body  \
0  [27.840805, 19.929322, 36.308397, 0.0, 27.5398...
1  [339.055495, 31.415201, 3305.919844, 1285.5990...
2  [0.0, 1.228711, 2.72403, 2.764601, 0.0, 292.25...
3  [23.545009, 288.426363, 147.156307, 8058.27939...

                            variance_of_tf_idf_title  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 44.544215, 0.0, 0.0,...
1  [7.687248, 7.687248, 14.848784, 14.848784, 14....
2  [0.0, 0.064654, 0.064654, 0.016164, 0.0, 19.50...
3  [18.508313, 18.508313, 74.03325, 18.508313, 18...

                              variance_of_tf_idf_url  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 44.035199, 0.0, 0.0,...
1  [9.020905, 0.0, 17.631846, 0.0, 0.0, 0.0, 0.0,...
2  [0.0, 0.043984, 0.043984, 0.043984, 0.0, 0.0, ...
3  [22.635226, 22.635226, 0.0, 22.635226, 22.6352...

                   variance_of_tf_idf_whole_document  \
0  [27.841789, 19.918075, 36.308397, 0.0, 27.5418...
1  [417.968267, 64.96175, 3836.19764, 1452.90327,...
2  [0.0, 3.770071, 0.667559, 4.924175, 0.0, 383.1...
3  [94.160557, 476.687818, 288.366705, 8951.13792...

                           vector_space_model_anchor  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1  [0.0, 0.408501, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

                             vector_space_model_body  \
0  [0.933903, 0.325014, 0.875523, 0.0, 0.945709, ...
1  [0.8083, 0.679002, 0.827916, 0.84103, 0.839974...
2  [0.0, 1.0, 0.989758, 1.0, 0.0, 0.764901, 0.999...
3  [0.264399, 0.264399, 0.264399, 0.264399, 0.264...

                            vector_space_model_title  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.761123, 0.0, 0.0, ...
1  [0.417303, 0.417303, 0.789509, 0.789509, 0.789...
2  [0.0, 1.0, 1.0, 1.0, 0.0, 0.697006, 1.0, 0.0, ...
3  [0.436652, 0.436652, 0.436652, 0.436652, 0.436...

                              vector_space_model_url  \
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.745211, 0.0, 0.0, ...
1  [0.412937, 0.0, 0.795755, 0.0, 0.0, 0.0, 0.0, ...
2  [0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.691259, 0.0, ...
3  [0.47293, 0.47293, 0.0, 0.47293, 0.47293, 0.47...

                   vector_space_model_whole_document
0  [0.933988, 0.324964, 0.875633, 0.0, 0.945726, ...
1  [0.783515, 0.606861, 0.829137, 0.840663, 0.839...
2  [0.0, 1.0, 0.997039, 1.0, 0.0, 0.755015, 1.0, ...
3  [0.264374, 0.264374, 0.264374, 0.264374, 0.264...

[4 rows x 137 columns]

In [6]:
# Add a mask tensor.
ds = ds.map(lambda feature_map: {
    "_mask": tf.ones_like(feature_map["label"], dtype=tf.bool),
    **feature_map
})

In [7]:
printds(ds, 1)

{'_mask': <tf.Tensor: shape=(23,), dtype=bool, numpy=
array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])>,
 'bm25_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'bm25_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([29.42768 ,  9.288441, 18.526854,  0.      , 18.957465, 54.641172,
       21.541699, 34.312116, 46.042242, 34.166234, 52.930111, 54.62328 ,
       52.930111, 42.184598, 49.871447, 58.410574, 12.343549,  0.      ,
       40.597044, 40.785787, 40.785787,  0.      , 57.121089])>,
 'bm25_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([ 0.      ,  0.      ,  0.      ,  0.      ,  0.      , 11.846837,
        0.      ,  0.      ,  8.176028, 12.658756, 11.846837,  0.      ,
       11.846837,  0.      ,  0.      ,  0.      ,  0.      ,  0.      ,
        8.433587,  0.      ,  0.      ,  0.      ,  0.      ])>,
 'bm25_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([ 0.      ,  0.      ,  0.      ,  0.      ,  0.      ,  7.998056,
        0.      ,  0.      , 17.000828,  0.      , 11.468382,  0.      ,
        9.863484,  0.      ,  0.      ,  0.      ,  0.      ,  0.      ,
        7.096789,  0.      ,  0.      ,  0.      ,  0.      ])>,
 'bm25_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([28.927591,  9.288662, 18.490218,  0.      , 18.951326, 57.434836,
       21.46718 , 34.161986, 47.235632, 35.287831, 56.022382, 54.488258,
       55.954068, 42.383262, 49.736161, 58.254498, 12.435197,  0.      ,
       41.547731, 40.870065, 40.837674,  0.      , 56.864064])>,
 'boolean_model_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'boolean_model_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 0.,
       0., 1., 1., 1., 0., 1.])>,
 'boolean_model_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'boolean_model_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'boolean_model_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 0.,
       0., 1., 1., 1., 0., 1.])>,
 'covered_query_term_number_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'covered_query_term_number_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([2., 1., 1., 0., 2., 3., 2., 2., 2., 1., 3., 3., 3., 3., 3., 3., 2.,
       0., 3., 3., 3., 0., 3.])>,
 'covered_query_term_number_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0.])>,
 'covered_query_term_number_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0.])>,
 'covered_query_term_number_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([2., 1., 1., 0., 2., 3., 2., 2., 2., 1., 3., 3., 3., 3., 3., 3., 2.,
       0., 3., 3., 3., 0., 3.])>,
 'covered_query_term_ratio_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'covered_query_term_ratio_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.666667, 0.333333, 0.333333, 0.      , 0.666667, 1.      ,
       0.666667, 0.666667, 0.666667, 0.333333, 1.      , 1.      ,
       1.      , 1.      , 1.      , 1.      , 0.666667, 0.      ,
       1.      , 1.      , 1.      , 0.      , 1.      ])>,
 'covered_query_term_ratio_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.      , 0.      , 0.      , 0.      , 0.      , 0.333333,
       0.      , 0.      , 0.333333, 0.333333, 0.333333, 0.      ,
       0.333333, 0.      , 0.      , 0.      , 0.      , 0.      ,
       0.333333, 0.      , 0.      , 0.      , 0.      ])>,
 'covered_query_term_ratio_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.      , 0.      , 0.      , 0.      , 0.      , 0.333333,
       0.      , 0.      , 0.333333, 0.      , 0.333333, 0.      ,
       0.333333, 0.      , 0.      , 0.      , 0.      , 0.      ,
       0.333333, 0.      , 0.      , 0.      , 0.      ])>,
 'covered_query_term_ratio_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.666667, 0.333333, 0.333333, 0.      , 0.666667, 1.      ,
       0.666667, 0.666667, 0.666667, 0.333333, 1.      , 1.      ,
       1.      , 1.      , 1.      , 1.      , 0.666667, 0.      ,
       1.      , 1.      , 1.      , 0.      , 1.      ])>,
 'idf_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([35.176692, 35.176692, 35.176692, 35.176692, 35.176692, 35.176692,
       35.176692, 35.176692, 35.176692, 35.176692, 35.176692, 35.176692,
       35.176692, 35.176692, 35.176692, 35.176692, 35.176692, 35.176692,
       35.176692, 35.176692, 35.176692, 35.176692, 35.176692])>,
 'idf_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([22.73022, 22.73022, 22.73022, 22.73022, 22.73022, 22.73022,
       22.73022, 22.73022, 22.73022, 22.73022, 22.73022, 22.73022,
       22.73022, 22.73022, 22.73022, 22.73022, 22.73022, 22.73022,
       22.73022, 22.73022, 22.73022, 22.73022, 22.73022])>,
 'idf_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([31.186879, 31.186879, 31.186879, 31.186879, 31.186879, 31.186879,
       31.186879, 31.186879, 31.186879, 31.186879, 31.186879, 31.186879,
       31.186879, 31.186879, 31.186879, 31.186879, 31.186879, 31.186879,
       31.186879, 31.186879, 31.186879, 31.186879, 31.186879])>,
 'idf_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([31.828507, 31.828507, 31.828507, 31.828507, 31.828507, 31.828507,
       31.828507, 31.828507, 31.828507, 31.828507, 31.828507, 31.828507,
       31.828507, 31.828507, 31.828507, 31.828507, 31.828507, 31.828507,
       31.828507, 31.828507, 31.828507, 31.828507, 31.828507])>,
 'idf_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([22.724959, 22.724959, 22.724959, 22.724959, 22.724959, 22.724959,
       22.724959, 22.724959, 22.724959, 22.724959, 22.724959, 22.724959,
       22.724959, 22.724959, 22.724959, 22.724959, 22.724959, 22.724959,
       22.724959, 22.724959, 22.724959, 22.724959, 22.724959])>,
 'inlink_number': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([  0.,   2.,   1., 768.,   0.,   0.,   0., 293.,   0.,   1.,   0.,
         0.,   0.,   0.,   0.,   9.,   0.,   0.,   4.,   6., 210.,   0.,
         2.])>,
 'label': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0.])>,
 'length_of_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([ 69.,  37.,  48.,  60., 100.,  71.,  69.,  46.,  29.,  65.,  48.,
        47.,  59.,  43.,  26.,  49.,  58.,  67.,  51.,  20.,  25.,  20.,
        46.])>,
 'lmir_abs_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'lmir_abs_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-25.564004, -36.920874, -30.896588, -36.920874, -27.835945,
       -15.525245, -27.05528 , -24.378459, -22.412375, -29.100631,
       -16.082015, -17.792781, -16.082015, -21.673985, -16.60676 ,
       -15.996973, -34.825896, -36.920874, -17.786863, -19.918264,
       -19.918264, -36.920874, -15.470544])>,
 'lmir_abs_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-30.138793, -30.138793, -30.138793, -30.138793, -30.138793,
       -25.010348, -30.138793, -30.138793, -26.237589, -24.904988,
       -25.010348, -30.138793, -25.010348, -30.138793, -30.138793,
       -30.138793, -30.138793, -30.138793, -30.138793, -30.138793,
       -30.138793, -30.138793, -30.138793])>,
 'lmir_abs_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-32.190647, -32.190647, -32.190647, -32.190647, -32.190647,
       -27.121467, -32.190647, -32.190647, -25.706775, -32.190647,
       -26.399921, -32.190647, -26.623064, -32.190647, -32.190647,
       -32.190647, -32.190647, -32.190647, -32.190647, -32.190647,
       -32.190647, -32.190647, -32.190647])>,
 'lmir_abs_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-25.730742, -36.792137, -30.915838, -36.792137, -27.847135,
       -15.277833, -27.096838, -24.449175, -22.28915 , -28.934581,
       -15.749133, -17.909102, -15.767824, -21.680144, -16.714957,
       -16.124257, -34.696652, -36.792137, -17.442528, -19.965456,
       -19.973223, -36.792137, -15.616344])>,
 'lmir_dir_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'lmir_dir_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-26.732458, -36.680476, -30.219409, -36.680476, -27.012039,
       -19.81756 , -26.825881, -25.850288, -23.766703, -28.650989,
       -20.216183, -20.649479, -20.216183, -21.316143, -21.318674,
       -19.863038, -33.651792, -36.680476, -21.258714, -22.562726,
       -22.562726, -36.680476, -20.090386])>,
 'lmir_dir_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-33.803301, -33.803301, -33.803301, -33.803301, -33.803301,
       -28.405945, -33.803301, -33.803301, -28.416375, -28.404452,
       -28.405945, -33.803301, -28.405945, -33.803301, -33.803301,
       -33.803301, -33.803301, -33.803301, -33.803301, -33.803301,
       -33.803301, -33.803301, -33.803301])>,
 'lmir_dir_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-35.432249, -35.432249, -35.432249, -35.432249, -35.432249,
       -29.628271, -35.432249, -35.432249, -29.607406, -35.432249,
       -29.616366, -35.432249, -29.620836, -35.432249, -35.432249,
       -35.432249, -35.432249, -35.432249, -35.432249, -35.432249,
       -35.432249, -35.432249, -35.432249])>,
 'lmir_dir_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-26.757188, -36.553142, -30.208677, -36.553142, -27.009329,
       -19.455397, -26.824415, -25.845815, -23.606069, -28.496746,
       -19.837151, -20.668514, -19.840779, -21.319897, -21.330332,
       -19.88276 , -33.524369, -36.553142, -20.878545, -22.569408,
       -22.570667, -36.553142, -20.112721])>,
 'lmir_jm_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'lmir_jm_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-24.722881, -39.30383 , -32.748747, -39.30383 , -26.647636,
       -15.119163, -26.154267, -24.463286, -23.485981, -31.351014,
       -15.511417, -15.664936, -15.511417, -20.361386, -15.027561,
       -14.638199, -34.283186, -39.30383 , -16.277266, -17.410351,
       -17.410351, -39.30383 , -14.804013])>,
 'lmir_jm_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-32.932685, -32.932685, -32.932685, -32.932685, -32.932685,
       -27.80356 , -32.932685, -32.932685, -28.334189, -27.6982  ,
       -27.80356 , -32.932685, -27.80356 , -32.932685, -32.932685,
       -32.932685, -32.932685, -32.932685, -32.932685, -32.932685,
       -32.932685, -32.932685, -32.932685])>,
 'lmir_jm_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-34.984628, -34.984628, -34.984628, -34.984628, -34.984628,
       -29.703957, -34.984628, -34.984628, -28.499985, -34.984628,
       -29.193132, -34.984628, -29.416275, -34.984628, -34.984628,
       -34.984628, -34.984628, -34.984628, -34.984628, -34.984628,
       -34.984628, -34.984628, -34.984628])>,
 'lmir_jm_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([-24.886197, -39.18687 , -32.752655, -39.18687 , -26.672332,
       -14.940169, -26.191892, -24.517415, -23.356032, -31.208803,
       -15.246964, -15.781946, -15.26569 , -20.36781 , -15.135764,
       -14.765827, -34.156739, -39.18687 , -16.001055, -17.457804,
       -17.465644, -39.18687 , -14.949946])>,
 'max_of_stream_length_normalized_term_frequency_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'max_of_stream_length_normalized_term_frequency_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.004115, 0.004494, 0.002625, 0.      , 0.001318, 0.008715,
       0.001686, 0.005556, 0.012077, 0.010619, 0.008753, 0.034826,
       0.008753, 0.0131  , 0.012245, 0.040761, 0.00361 , 0.      ,
       0.00978 , 0.005319, 0.005319, 0.      , 0.01662 ])>,
 'max_of_stream_length_normalized_term_frequency_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.      , 0.      , 0.      , 0.      , 0.      , 0.1     ,
       0.      , 0.      , 0.058824, 0.111111, 0.1     , 0.      ,
       0.1     , 0.      , 0.      , 0.      , 0.      , 0.      ,
       0.142857, 0.      , 0.      , 0.      , 0.      ])>,
 'max_of_stream_length_normalized_term_frequency_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.      , 0.      , 0.      , 0.      , 0.      , 0.05    ,
       0.      , 0.      , 0.166667, 0.      , 0.083333, 0.      ,
       0.066667, 0.      , 0.      , 0.      , 0.      , 0.      ,
       0.090909, 0.      , 0.      , 0.      , 0.      ])>,
 'max_of_stream_length_normalized_term_frequency_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.003788, 0.004396, 0.002551, 0.      , 0.001287, 0.012121,
       0.001637, 0.005348, 0.014101, 0.011945, 0.012526, 0.033493,
       0.012448, 0.013072, 0.011811, 0.039063, 0.003591, 0.      ,
       0.014052, 0.005236, 0.005222, 0.      , 0.015831])>,
 'max_of_term_frequency_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'max_of_term_frequency_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([ 1.,  2.,  1.,  0.,  1.,  4.,  1.,  2., 10.,  6.,  4., 14.,  4.,
       48.,  3., 15., 13.,  0.,  4.,  2.,  2.,  0.,  6.])>,
 'max_of_term_frequency_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0.])>,
 'max_of_term_frequency_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0.])>,
 'max_of_term_frequency_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([ 1.,  2.,  1.,  0.,  1.,  6.,  1.,  2., 12.,  7.,  6., 14.,  6.,
       48.,  3., 15., 13.,  0.,  6.,  2.,  2.,  0.,  6.])>,
 'max_of_tf_idf_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'max_of_tf_idf_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([ 12.782323,   9.470055,  12.782323,   0.      ,  12.782323,
        51.129293,  12.782323,  25.564647, 127.823233,  76.69394 ,
        51.129293, 178.952526,  51.129293, 613.551518,  25.564647,
       191.734849,  67.767293,   0.      ,  18.940111,  25.564647,
        25.564647,   0.      ,  76.69394 ])>,
 'max_of_tf_idf_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([ 0.      ,  0.      ,  0.      ,  0.      ,  0.      , 14.158   ,
        0.      ,  0.      , 14.158   , 14.158   , 14.158   ,  0.      ,
       14.158   ,  0.      ,  0.      ,  0.      ,  0.      ,  0.      ,
        8.139527,  0.      ,  0.      ,  0.      ,  0.      ])>,
 'max_of_tf_idf_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([ 0.      ,  0.      ,  0.      ,  0.      ,  0.      , 14.076875,
        0.      ,  0.      , 14.076875,  0.      , 14.076875,  0.      ,
       14.076875,  0.      ,  0.      ,  0.      ,  0.      ,  0.      ,
        8.238502,  0.      ,  0.      ,  0.      ,  0.      ])>,
 'max_of_tf_idf_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([ 12.782323,   9.467383,  12.782323,   0.      ,  12.782323,
        76.69394 ,  12.782323,  25.564647, 153.387879,  89.476263,
        76.69394 , 178.952526,  76.69394 , 613.551518,  25.564647,
       191.734849,  67.716282,   0.      ,  28.402148,  25.564647,
        25.564647,   0.      ,  76.69394 ])>,
 'mean_of_stream_length_normalized_term_frequency_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'mean_of_stream_length_normalized_term_frequency_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.002743, 0.001498, 0.000875, 0.      , 0.000878, 0.007262,
       0.001124, 0.002778, 0.005636, 0.00354 , 0.006565, 0.013267,
       0.006565, 0.00464 , 0.008163, 0.016304, 0.001296, 0.      ,
       0.005705, 0.003546, 0.003546, 0.      , 0.009234])>,
 'mean_of_stream_length_normalized_term_frequency_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.      , 0.      , 0.      , 0.      , 0.      , 0.033333,
       0.      , 0.      , 0.019608, 0.037037, 0.033333, 0.      ,
       0.033333, 0.      , 0.      , 0.      , 0.      , 0.      ,
       0.047619, 0.      , 0.      , 0.      , 0.      ])>,
 'mean_of_stream_length_normalized_term_frequency_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.      , 0.      , 0.      , 0.      , 0.      , 0.016667,
       0.      , 0.      , 0.055556, 0.      , 0.027778, 0.      ,
       0.022222, 0.      , 0.      , 0.      , 0.      , 0.      ,
       0.030303, 0.      , 0.      , 0.      , 0.      ])>,
 'mean_of_stream_length_normalized_term_frequency_whole_document': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.002525, 0.001465, 0.00085 , 0.      , 0.000858, 0.008081,
       0.001091, 0.002674, 0.006267, 0.003982, 0.007655, 0.012759,
       0.007607, 0.00463 , 0.007874, 0.015625, 0.001289, 0.      ,
       0.007026, 0.00349 , 0.003481, 0.      , 0.008795])>,
 'mean_of_term_frequency_anchor': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])>,
 'mean_of_term_frequency_body': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([ 0.666667,  0.666667,  0.333333,  0.      ,  0.666667,  3.333333,
        0.666667,  1.      ,  4.666667,  2.      ,  3.      ,  5.333333,
        3.      , 17.      ,  2.      ,  6.      ,  4.666667,  0.      ,
        2.333333,  1.333333,  1.333333,  0.      ,  3.333333])>,
 'mean_of_term_frequency_title': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.      , 0.      , 0.      , 0.      , 0.      , 0.333333,
       0.      , 0.      , 0.333333, 0.333333, 0.333333, 0.      ,
       0.333333, 0.      , 0.      , 0.      , 0.      , 0.      ,
       0.333333, 0.      , 0.      , 0.      , 0.      ])>,
 'mean_of_term_frequency_url': <tf.Tensor: shape=(23,), dtype=float64, numpy=
array([0.      , 0.      , 0.      , 0.      , 0.      , 0.333333,
       0.      , 0.      , 0.333333, 0.      , 0.333333, 0.      ,
       0.333333, 0.      , 0.      , 0.      , 0.      , 0.      ,
       0.333333, 0.      , 0.      , 0.      , 0.      ])>,

In [8]:
# Shuffle data and create padded batches for queries with different lengths.
# Padded items will have False on `_mask`.
ds = ds.shuffle(buffer_size=1000).padded_batch(batch_size=32)

In [9]:
printds(ds, 1)

{'_mask': <tf.Tensor: shape=(32, 211), dtype=bool, numpy=
array([[ True,  True,  True, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False],
       ...,
       [ True,  True,  True, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False]])>,
 'bm25_anchor': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
 'bm25_body': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[ 3.829696, 25.809587, 21.336658, ...,  0.      ,  0.      ,
         0.      ],
       [ 0.865721, 25.001735,  0.551513, ...,  0.      ,  0.      ,
         0.      ],
       [25.162082, 23.555637, 24.891926, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [25.636912, 48.601046, 34.597338, ...,  0.      ,  0.      ,
         0.      ],
       [ 1.718071, 57.240818, 16.019514, ...,  0.      ,  0.      ,
         0.      ],
       [10.729066, 22.722584, 35.992469, ...,  0.      ,  0.      ,
         0.      ]])>,
 'bm25_title': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[ 6.376044,  0.      , 22.649366, ...,  0.      ,  0.      ,
         0.      ],
       [ 3.126207, 21.320321,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [21.029494, 21.029494,  9.62189 , ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [ 0.      , 16.907312,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [ 8.053168,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ]])>,
 'bm25_url': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[ 5.670023,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      , 24.577377,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  0.      , 11.867775, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  5.330277,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ]])>,
 'bm25_whole_document': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[ 3.849893, 25.856486, 21.390693, ...,  0.      ,  0.      ,
         0.      ],
       [ 0.898516, 25.566875,  0.545751, ...,  0.      ,  0.      ,
         0.      ],
       [25.591892, 24.043137, 25.564394, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [25.801286, 50.749777, 34.676128, ...,  0.      ,  0.      ,
         0.      ],
       [ 1.743919, 56.866676, 16.181172, ...,  0.      ,  0.      ,
         0.      ],
       [10.803622, 22.735029, 35.9388  , ...,  0.      ,  0.      ,
         0.      ]])>,
 'boolean_model_anchor': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
 'boolean_model_body': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [1., 1., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.]])>,
 'boolean_model_title': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
 'boolean_model_url': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
 'boolean_model_whole_document': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [1., 1., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.]])>,
 'covered_query_term_number_anchor': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
 'covered_query_term_number_body': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[1., 3., 3., ..., 0., 0., 0.],
       [1., 3., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [3., 3., 3., ..., 0., 0., 0.],
       [1., 5., 4., ..., 0., 0., 0.],
       [2., 3., 3., ..., 0., 0., 0.]])>,
 'covered_query_term_number_title': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[1., 0., 2., ..., 0., 0., 0.],
       [1., 3., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 2., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]])>,
 'covered_query_term_number_url': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 3., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
 'covered_query_term_number_whole_document': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[1., 3., 3., ..., 0., 0., 0.],
       [1., 3., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [3., 3., 3., ..., 0., 0., 0.],
       [1., 5., 4., ..., 0., 0., 0.],
       [2., 3., 3., ..., 0., 0., 0.]])>,
 'covered_query_term_ratio_anchor': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
 'covered_query_term_ratio_body': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0.333333, 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [0.333333, 1.      , 0.333333, ..., 0.      , 0.      , 0.      ],
       [1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       ...,
       [1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [0.2     , 1.      , 0.8     , ..., 0.      , 0.      , 0.      ],
       [0.666667, 1.      , 1.      , ..., 0.      , 0.      , 0.      ]])>,
 'covered_query_term_ratio_title': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0.333333, 0.      , 0.666667, ..., 0.      , 0.      , 0.      ],
       [0.333333, 1.      , 0.      , ..., 0.      , 0.      , 0.      ],
       [1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       ...,
       [0.      , 0.666667, 0.      , ..., 0.      , 0.      , 0.      ],
       [0.      , 0.      , 0.      , ..., 0.      , 0.      , 0.      ],
       [0.333333, 0.      , 0.      , ..., 0.      , 0.      , 0.      ]])>,
 'covered_query_term_ratio_url': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0.333333, 0.      , 0.      , ..., 0.      , 0.      , 0.      ],
       [0.      , 1.      , 0.      , ..., 0.      , 0.      , 0.      ],
       [0.      , 0.      , 1.      , ..., 0.      , 0.      , 0.      ],
       ...,
       [0.      , 0.      , 0.      , ..., 0.      , 0.      , 0.      ],
       [0.      , 0.2     , 0.      , ..., 0.      , 0.      , 0.      ],
       [0.      , 0.      , 0.      , ..., 0.      , 0.      , 0.      ]])>,
 'covered_query_term_ratio_whole_document': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0.333333, 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [0.333333, 1.      , 0.333333, ..., 0.      , 0.      , 0.      ],
       [1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       ...,
       [1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [0.2     , 1.      , 0.8     , ..., 0.      , 0.      , 0.      ],
       [0.666667, 1.      , 1.      , ..., 0.      , 0.      , 0.      ]])>,
 'idf_anchor': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[24.791131, 24.791131, 24.791131, ...,  0.      ,  0.      ,
         0.      ],
       [21.247977, 21.247977, 21.247977, ...,  0.      ,  0.      ,
         0.      ],
       [13.302685, 13.302685, 13.302685, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [31.778888, 31.778888, 31.778888, ...,  0.      ,  0.      ,
         0.      ],
       [44.153627, 44.153627, 44.153627, ...,  0.      ,  0.      ,
         0.      ],
       [29.659747, 29.659747, 29.659747, ...,  0.      ,  0.      ,
         0.      ]])>,
 'idf_body': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[ 9.762977,  9.762977,  9.762977, ...,  0.      ,  0.      ,
         0.      ],
       [ 8.124005,  8.124005,  8.124005, ...,  0.      ,  0.      ,
         0.      ],
       [ 8.314211,  8.314211,  8.314211, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [18.473802, 18.473802, 18.473802, ...,  0.      ,  0.      ,
         0.      ],
       [20.106934, 20.106934, 20.106934, ...,  0.      ,  0.      ,
         0.      ],
       [16.068719, 16.068719, 16.068719, ...,  0.      ,  0.      ,
         0.      ]])>,
 'idf_title': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[22.271623, 22.271623, 22.271623, ...,  0.      ,  0.      ,
         0.      ],
       [15.674223, 15.674223, 15.674223, ...,  0.      ,  0.      ,
         0.      ],
       [12.236527, 12.236527, 12.236527, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [30.007978, 30.007978, 30.007978, ...,  0.      ,  0.      ,
         0.      ],
       [40.915098, 40.915098, 40.915098, ...,  0.      ,  0.      ,
         0.      ],
       [26.403921, 26.403921, 26.403921, ...,  0.      ,  0.      ,
         0.      ]])>,
 'idf_url': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[24.960706, 24.960706, 24.960706, ...,  0.      ,  0.      ,
         0.      ],
       [20.350341, 20.350341, 20.350341, ...,  0.      ,  0.      ,
         0.      ],
       [12.986956, 12.986956, 12.986956, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [31.3494  , 31.3494  , 31.3494  , ...,  0.      ,  0.      ,
         0.      ],
       [42.179586, 42.179586, 42.179586, ...,  0.      ,  0.      ,
         0.      ],
       [27.839078, 27.839078, 27.839078, ...,  0.      ,  0.      ,
         0.      ]])>,
 'idf_whole_document': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[ 9.758739,  9.758739,  9.758739, ...,  0.      ,  0.      ,
         0.      ],
       [ 8.101243,  8.101243,  8.101243, ...,  0.      ,  0.      ,
         0.      ],
       [ 8.313558,  8.313558,  8.313558, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [18.472322, 18.472322, 18.472322, ...,  0.      ,  0.      ,
         0.      ],
       [20.093248, 20.093248, 20.093248, ...,  0.      ,  0.      ,
         0.      ],
       [16.04422 , 16.04422 , 16.04422 , ...,  0.      ,  0.      ,
         0.      ]])>,
 'inlink_number': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[  7.,   1.,   1., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.],
       [  0.,   1.,   0., ...,   0.,   0.,   0.],
       ...,
       [  1.,   0.,   5., ...,   0.,   0.,   0.],
       [ 82.,   1., 191., ...,   0.,   0.,   0.],
       [  3.,   2.,   0., ...,   0.,   0.,   0.]])>,
 'label': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 2., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
 'length_of_url': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[54., 48., 47., ...,  0.,  0.,  0.],
       [28., 20., 15., ...,  0.,  0.,  0.],
       [18., 37., 55., ...,  0.,  0.,  0.],
       ...,
       [28., 42., 50., ...,  0.,  0.,  0.],
       [30., 87., 31., ...,  0.,  0.,  0.],
       [31., 27., 46., ...,  0.,  0.,  0.]])>,
 'lmir_abs_anchor': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-23.905111, -23.905111, -23.905111, ...,   0.      ,   0.      ,
          0.      ],
       [-19.220565, -19.220565, -19.220565, ...,   0.      ,   0.      ,
          0.      ],
       [ -2.995723,  -2.995723,  -2.995723, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-28.500348, -28.500348, -28.500348, ...,   0.      ,   0.      ,
          0.      ],
       [-45.112076, -45.112076, -45.112076, ...,   0.      ,   0.      ,
          0.      ],
       [-22.495763, -22.495763, -22.495763, ...,   0.      ,   0.      ,
          0.      ]])>,
 'lmir_abs_body': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-26.704413, -16.379489, -13.672658, ...,   0.      ,   0.      ,
          0.      ],
       [-23.920383,  -9.473526, -26.637883, ...,   0.      ,   0.      ,
          0.      ],
       [ -3.672872,  -4.396963,  -3.884235, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-19.460535, -13.505249, -17.537461, ...,   0.      ,   0.      ,
          0.      ],
       [-55.208269, -19.45854 , -42.847921, ...,   0.      ,   0.      ,
          0.      ],
       [-25.644642, -20.383381, -15.859665, ...,   0.      ,   0.      ,
          0.      ]])>,
 'lmir_abs_title': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-24.786001, -26.210822, -15.196274, ...,   0.      ,   0.      ,
          0.      ],
       [-19.982684,  -7.604127, -19.982684, ...,   0.      ,   0.      ,
          0.      ],
       [ -1.897117,  -1.897117,  -3.601851, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-30.117254, -17.961813, -30.117254, ...,   0.      ,   0.      ,
          0.      ],
       [-48.492929, -48.492929, -48.492929, ...,   0.      ,   0.      ,
          0.      ],
       [-27.62531 , -28.182057, -28.182057, ...,   0.      ,   0.      ,
          0.      ]])>,
 'lmir_abs_url': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-27.500956, -28.339133, -28.339133, ...,   0.      ,   0.      ,
          0.      ],
       [-21.301693,  -8.977591, -21.301693, ...,   0.      ,   0.      ,
          0.      ],
       [ -3.912014,  -3.912014,  -3.506552, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-30.748524, -30.748524, -30.748524, ...,   0.      ,   0.      ,
          0.      ],
       [-48.02133 , -48.02133 , -48.02133 , ...,   0.      ,   0.      ,
          0.      ],
       [-29.500777, -29.500777, -29.500777, ...,   0.      ,   0.      ,
          0.      ]])>,
 'lmir_abs_whole_document': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-26.707825, -16.401158, -13.665027, ...,   0.      ,   0.      ,
          0.      ],
       [-23.676056,  -8.989593, -26.607172, ...,   0.      ,   0.      ,
          0.      ],
       [ -3.549454,  -4.29647 ,  -3.699568, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-19.470025, -13.029316, -17.582645, ...,   0.      ,   0.      ,
          0.      ],
       [-55.204409, -19.826324, -42.851972, ...,   0.      ,   0.      ,
          0.      ],
       [-25.619882, -20.438081, -15.923654, ...,   0.      ,   0.      ,
          0.      ]])>,
 'lmir_dir_anchor': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-27.162231, -27.162231, -27.162231, ...,   0.      ,   0.      ,
          0.      ],
       [-21.844682, -21.844682, -21.844682, ...,   0.      ,   0.      ,
          0.      ],
       [ -7.60257 ,  -7.60257 ,  -7.60257 , ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-32.136954, -32.136954, -32.136954, ...,   0.      ,   0.      ,
          0.      ],
       [-48.462315, -48.462315, -48.462315, ...,   0.      ,   0.      ,
          0.      ],
       [-25.75884 , -25.75884 , -25.75884 , ...,   0.      ,   0.      ,
          0.      ]])>,
 'lmir_dir_body': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-25.949128, -17.351288, -16.257046, ...,   0.      ,   0.      ,
          0.      ],
       [-24.749691, -15.819874, -25.286448, ...,   0.      ,   0.      ,
          0.      ],
       [ -5.771766,  -5.694013,  -5.684749, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-19.981015, -19.533743, -19.704883, ...,   0.      ,   0.      ,
          0.      ],
       [-52.280865, -28.252092, -43.301669, ...,   0.      ,   0.      ,
          0.      ],
       [-24.920554, -22.235134, -19.99106 , ...,   0.      ,   0.      ,
          0.      ]])>,
 'lmir_dir_title': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-27.695049, -27.711471, -24.792323, ...,   0.      ,   0.      ,
          0.      ],
       [-21.395167, -18.58063 , -21.395167, ...,   0.      ,   0.      ,
          0.      ],
       [ -7.600583,  -7.600583,  -7.605068, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-32.75355 , -25.601819, -32.75355 , ...,   0.      ,   0.      ,
          0.      ],
       [-49.303077, -49.303077, -49.303077, ...,   0.      ,   0.      ,
          0.      ],
       [-31.331325, -31.335813, -31.335813, ...,   0.      ,   0.      ,
          0.      ]])>,
 'lmir_dir_url': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-30.45705 , -30.467485, -30.467485, ...,   0.      ,   0.      ,
          0.      ],
       [-24.410879, -21.808925, -24.410879, ...,   0.      ,   0.      ,
          0.      ],
       [ -7.607839,  -7.607839,  -7.605354, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-33.861744, -33.861744, -33.861744, ...,   0.      ,   0.      ,
          0.      ],
       [-50.180776, -50.180776, -50.180776, ...,   0.      ,   0.      ,
          0.      ],
       [-32.571306, -32.571306, -32.571306, ...,   0.      ,   0.      ,
          0.      ]])>,
 'lmir_dir_whole_document': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-25.904597, -17.360814, -16.219992, ...,   0.      ,   0.      ,
          0.      ],
       [-24.542223, -15.281123, -25.201389, ...,   0.      ,   0.      ,
          0.      ],
       [ -5.640914,  -5.592021,  -5.470504, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-19.985602, -18.986176, -19.718477, ...,   0.      ,   0.      ,
          0.      ],
       [-52.298198, -28.251764, -43.301689, ...,   0.      ,   0.      ,
          0.      ],
       [-24.894302, -22.245152, -20.000837, ...,   0.      ,   0.      ,
          0.      ]])>,
 'lmir_jm_anchor': <tf.Tensor: shape=(32, 211), dtype=float64, numpy=
array([[-26.491453, -26.491453, -26.491453, ...,   0.      ,   0.      ,
          0.      ],
       [-21.401038, -21.401038, -21.401038, ...,   0.      ,   0.      ,
          0.      ],
       [ -1.89712 ,  -1.89712 ,  -1.89712 , ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [-30.927333, -30.927333, -30.927333, ...,   0.      ,   0.      ,
          0.      ],

In [10]:
# Create (features, labels) tuples from data and set -1 label for masked items.
ds = ds.map(lambda feature_map: (
    feature_map, tf.where(feature_map["_mask"], feature_map.pop("label"), -1.)))

In [11]:
printds(ds, 1)

({'_mask': <tf.Tensor: shape=(32, 809), dtype=bool, numpy=
array([[ True,  True,  True, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False],
       ...,
       [ True,  True,  True, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False],
       [ True,  True,  True, ..., False, False, False]])>,
  'bm25_anchor': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[ 0.      ,  0.      , 29.138345, ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ]])>,
  'bm25_body': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[ 0.      , 40.89443 , 40.298434, ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      , 13.243953,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [20.643462, 22.150946, 24.392211, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [28.982493,  0.      , 17.049373, ...,  0.      ,  0.      ,
         0.      ],
       [30.085521, 32.572533, 31.478479, ...,  0.      ,  0.      ,
         0.      ],
       [19.247571, 21.392787,  0.      , ...,  0.      ,  0.      ,
         0.      ]])>,
  'bm25_title': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[ 0.      , 17.916821, 29.758554, ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  8.139971,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [12.288277, 13.972622,  7.825137, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [13.936851,  9.875832, 14.962286, ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      , 10.135546,  0.      , ...,  0.      ,  0.      ,
         0.      ]])>,
  'bm25_url': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[23.884829, 21.293945, 27.19353 , ...,  0.      ,  0.      ,
         0.      ],
       [18.496002,  6.807121,  6.138132, ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [ 0.      ,  0.      ,  0.      , ...,  0.      ,  0.      ,
         0.      ],
       [14.489327,  8.680413, 11.653508, ...,  0.      ,  0.      ,
         0.      ],
       [ 0.      ,  9.690341,  0.      , ...,  0.      ,  0.      ,
         0.      ]])>,
  'bm25_whole_document': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[32.564338, 42.101734, 42.231978, ...,  0.      ,  0.      ,
         0.      ],
       [11.645571, 13.354538,  3.177231, ...,  0.      ,  0.      ,
         0.      ],
       [21.41626 , 22.709943, 24.529056, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [28.744827,  0.      , 16.726768, ...,  0.      ,  0.      ,
         0.      ],
       [35.398486, 33.615541, 33.076969, ...,  0.      ,  0.      ,
         0.      ],
       [19.193924, 21.827479,  0.      , ...,  0.      ,  0.      ,
         0.      ]])>,
  'boolean_model_anchor': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
  'boolean_model_body': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.]])>,
  'boolean_model_title': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
  'boolean_model_url': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[1., 1., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
  'boolean_model_whole_document': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.]])>,
  'covered_query_term_number_anchor': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[0., 0., 3., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
  'covered_query_term_number_body': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[0., 3., 3., ..., 0., 0., 0.],
       [0., 3., 0., ..., 0., 0., 0.],
       [2., 2., 2., ..., 0., 0., 0.],
       ...,
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [2., 2., 0., ..., 0., 0., 0.]])>,
  'covered_query_term_number_title': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[0., 3., 3., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [2., 2., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])>,
  'covered_query_term_number_url': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[3., 3., 3., ..., 0., 0., 0.],
       [3., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])>,
  'covered_query_term_number_whole_document': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[3., 3., 3., ..., 0., 0., 0.],
       [3., 3., 1., ..., 0., 0., 0.],
       [2., 2., 2., ..., 0., 0., 0.],
       ...,
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [2., 2., 0., ..., 0., 0., 0.]])>,
  'covered_query_term_ratio_anchor': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])>,
  'covered_query_term_ratio_body': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 0., ..., 0., 0., 0.]])>,
  'covered_query_term_ratio_title': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[0.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [0.      , 0.333333, 0.      , ..., 0.      , 0.      , 0.      ],
       [1.      , 1.      , 0.5     , ..., 0.      , 0.      , 0.      ],
       ...,
       [0.      , 0.      , 0.      , ..., 0.      , 0.      , 0.      ],
       [1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [0.      , 0.5     , 0.      , ..., 0.      , 0.      , 0.      ]])>,
  'covered_query_term_ratio_url': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [1.      , 0.333333, 0.333333, ..., 0.      , 0.      , 0.      ],
       [0.      , 0.      , 0.      , ..., 0.      , 0.      , 0.      ],
       ...,
       [0.      , 0.      , 0.      , ..., 0.      , 0.      , 0.      ],
       [1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [0.      , 0.5     , 0.      , ..., 0.      , 0.      , 0.      ]])>,
  'covered_query_term_ratio_whole_document': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [1.      , 1.      , 0.333333, ..., 0.      , 0.      , 0.      ],
       [1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       ...,
       [1.      , 0.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [1.      , 1.      , 1.      , ..., 0.      , 0.      , 0.      ],
       [1.      , 1.      , 0.      , ..., 0.      , 0.      , 0.      ]])>,
  'idf_anchor': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[26.550776, 26.550776, 26.550776, ...,  0.      ,  0.      ,
         0.      ],
       [18.532057, 18.532057, 18.532057, ...,  0.      ,  0.      ,
         0.      ],
       [17.42025 , 17.42025 , 17.42025 , ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [18.420681, 18.420681, 18.420681, ...,  0.      ,  0.      ,
         0.      ],
       [16.474771, 16.474771, 16.474771, ...,  0.      ,  0.      ,
         0.      ],
       [16.477973, 16.477973, 16.477973, ...,  0.      ,  0.      ,
         0.      ]])>,
  'idf_body': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[14.177535, 14.177535, 14.177535, ...,  0.      ,  0.      ,
         0.      ],
       [ 5.062502,  5.062502,  5.062502, ...,  0.      ,  0.      ,
         0.      ],
       [ 8.027102,  8.027102,  8.027102, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [14.277545, 14.277545, 14.277545, ...,  0.      ,  0.      ,
         0.      ],
       [12.499099, 12.499099, 12.499099, ...,  0.      ,  0.      ,
         0.      ],
       [ 7.313709,  7.313709,  7.313709, ...,  0.      ,  0.      ,
         0.      ]])>,
  'idf_title': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[24.158862, 24.158862, 24.158862, ...,  0.      ,  0.      ,
         0.      ],
       [16.00916 , 16.00916 , 16.00916 , ...,  0.      ,  0.      ,
         0.      ],
       [15.627474, 15.627474, 15.627474, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [18.420681, 18.420681, 18.420681, ...,  0.      ,  0.      ,
         0.      ],
       [15.587467, 15.587467, 15.587467, ...,  0.      ,  0.      ,
         0.      ],
       [14.705114, 14.705114, 14.705114, ...,  0.      ,  0.      ,
         0.      ]])>,
  'idf_url': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[26.137269, 26.137269, 26.137269, ...,  0.      ,  0.      ,
         0.      ],
       [17.777574, 17.777574, 17.777574, ...,  0.      ,  0.      ,
         0.      ],
       [16.937192, 16.937192, 16.937192, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [16.474771, 16.474771, 16.474771, ...,  0.      ,  0.      ,
         0.      ],
       [15.855731, 15.855731, 15.855731, ...,  0.      ,  0.      ,
         0.      ],
       [16.880451, 16.880451, 16.880451, ...,  0.      ,  0.      ,
         0.      ]])>,
  'idf_whole_document': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[14.174401, 14.174401, 14.174401, ...,  0.      ,  0.      ,
         0.      ],
       [ 5.053401,  5.053401,  5.053401, ...,  0.      ,  0.      ,
         0.      ],
       [ 8.024084,  8.024084,  8.024084, ...,  0.      ,  0.      ,
         0.      ],
       ...,
       [14.186574, 14.186574, 14.186574, ...,  0.      ,  0.      ,
         0.      ],
       [12.499099, 12.499099, 12.499099, ...,  0.      ,  0.      ,
         0.      ],
       [ 7.311344,  7.311344,  7.311344, ...,  0.      ,  0.      ,
         0.      ]])>,
  'inlink_number': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[0.0000e+00, 1.0000e+00, 2.3600e+02, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 2.0000e+00, 1.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.2000e+01, 1.1000e+01, 1.5590e+03, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       ...,
       [6.0000e+00, 1.0339e+04, 1.6000e+01, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 3.0000e+00, 3.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.0000e+00, 9.0000e+00, 3.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])>,
  'length_of_url': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[ 56.,  61.,  39., ...,   0.,   0.,   0.],
       [ 39.,  64.,  43., ...,   0.,   0.,   0.],
       [ 55.,  53.,  32., ...,   0.,   0.,   0.],
       ...,
       [ 47.,  38.,  31., ...,   0.,   0.,   0.],
       [ 60., 124.,  86., ...,   0.,   0.,   0.],
       [ 31.,  54.,  35., ...,   0.,   0.,   0.]])>,
  'lmir_abs_anchor': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-22.768799, -22.768799,  -6.905485, ...,   0.      ,   0.      ,
          0.      ],
       [-19.723098, -19.723098, -19.723098, ...,   0.      ,   0.      ,
          0.      ],
       [-13.926993, -13.926993, -13.926993, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [  0.      ,   0.      ,   0.      , ...,   0.      ,   0.      ,
          0.      ],
       [ -3.506558,  -3.506558,  -3.506558, ...,   0.      ,   0.      ,
          0.      ],
       [-12.347887, -12.347887, -12.347887, ...,   0.      ,   0.      ,
          0.      ]])>,
  'lmir_abs_body': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-24.91709 , -12.827698, -12.929316, ...,   0.      ,   0.      ,
          0.      ],
       [-24.476131, -14.181977, -24.476131, ...,   0.      ,   0.      ,
          0.      ],
       [ -9.98025 ,  -9.230263,  -7.740172, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [ -5.716521,  -8.1567  ,  -7.594213, ...,   0.      ,   0.      ,
          0.      ],
       [ -4.873434,  -4.907603,  -5.02487 , ...,   0.      ,   0.      ,
          0.      ],
       [ -8.964185,  -7.799668, -19.455466, ...,   0.      ,   0.      ,
          0.      ]])>,
  'lmir_abs_title': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-24.227039, -11.058691,  -8.436915, ...,   0.      ,   0.      ,
          0.      ],
       [-19.687315, -17.158081, -19.687315, ...,   0.      ,   0.      ,
          0.      ],
       [ -7.200622,  -6.799847, -13.455985, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [  0.      ,   0.      ,   0.      , ...,   0.      ,   0.      ,
          0.      ],
       [ -3.401197,  -3.912022,  -3.283414, ...,   0.      ,   0.      ,
          0.      ],
       [-14.304905, -11.606462, -14.304905, ...,   0.      ,   0.      ,
          0.      ]])>,
  'lmir_abs_url': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-10.517204, -11.063675,  -9.848267, ...,   0.      ,   0.      ,
          0.      ],
       [ -9.829867, -19.944718, -20.373195, ...,   0.      ,   0.      ,
          0.      ],
       [-15.576731, -15.576731, -15.576731, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [ -4.199705,  -4.199705,  -4.199705, ...,   0.      ,   0.      ,
          0.      ],
       [ -3.506558,  -4.248495,  -3.84303 , ...,   0.      ,   0.      ,
          0.      ],
       [-15.712491, -13.332322, -15.712491, ...,   0.      ,   0.      ,
          0.      ]])>,
  'lmir_abs_whole_document': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-10.515922, -12.332454, -12.197526, ...,   0.      ,   0.      ,
          0.      ],
       [ -9.817639, -14.066819, -22.593695, ...,   0.      ,   0.      ,
          0.      ],
       [ -9.666178,  -8.985026,  -7.670776, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [ -5.746449,  -8.251488,  -7.643322, ...,   0.      ,   0.      ,
          0.      ],
       [ -4.047824,  -4.795131,  -4.84551 , ...,   0.      ,   0.      ,
          0.      ],
       [ -9.050242,  -7.601265, -19.463228, ...,   0.      ,   0.      ,
          0.      ]])>,
  'lmir_dir_anchor': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-26.608546, -26.608546, -22.271455, ...,   0.      ,   0.      ,
          0.      ],
       [-21.146977, -21.146977, -21.146977, ...,   0.      ,   0.      ,
          0.      ],
       [-17.512949, -17.512949, -17.512949, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [  0.      ,   0.      ,   0.      , ...,   0.      ,   0.      ,
          0.      ],
       [ -7.605856,  -7.605856,  -7.605856, ...,   0.      ,   0.      ,
          0.      ],
       [-17.276966, -17.276966, -17.276966, ...,   0.      ,   0.      ,
          0.      ]])>,
  'lmir_dir_body': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-26.564252, -16.806939, -16.232306, ...,   0.      ,   0.      ,
          0.      ],
       [-23.0016  , -16.497896, -23.0016  , ...,   0.      ,   0.      ,
          0.      ],
       [-12.150193, -11.735955, -11.006095, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [ -7.08799 ,  -8.021581,  -7.861724, ...,   0.      ,   0.      ,
          0.      ],
       [ -6.989325,  -5.569615,  -5.833346, ...,   0.      ,   0.      ,
          0.      ],
       [-13.074563, -12.13054 , -18.210242, ...,   0.      ,   0.      ,
          0.      ]])>,
  'lmir_dir_title': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-27.056841, -22.337929, -22.327473, ...,   0.      ,   0.      ,
          0.      ],
       [-21.432844, -20.884767, -21.432844, ...,   0.      ,   0.      ,
          0.      ],
       [-14.98413 , -14.98214 , -17.42099 , ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [  0.      ,   0.      ,   0.      , ...,   0.      ,   0.      ,
          0.      ],
       [ -7.605349,  -7.608332,  -7.604852, ...,   0.      ,   0.      ,
          0.      ],
       [-17.402006, -15.967496, -17.402006, ...,   0.      ,   0.      ,
          0.      ]])>,
  'lmir_dir_url': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-22.619283, -22.622267, -22.616297, ...,   0.      ,   0.      ,
          0.      ],
       [-21.220461, -22.940584, -23.431331, ...,   0.      ,   0.      ,
          0.      ],
       [-18.553295, -18.553295, -18.553295, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [ -7.610839,  -7.610839,  -7.610839, ...,   0.      ,   0.      ,
          0.      ],
       [ -7.605862,  -7.61132 ,  -7.60785 , ...,   0.      ,   0.      ,
          0.      ],
       [-18.945352, -17.280159, -18.945352, ...,   0.      ,   0.      ,
          0.      ]])>,
  'lmir_dir_whole_document': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-22.52779 , -16.273846, -15.525462, ...,   0.      ,   0.      ,
          0.      ],
       [-20.530221, -16.368494, -22.191739, ...,   0.      ,   0.      ,
          0.      ],
       [-11.855929, -11.487145, -10.901544, ...,   0.      ,   0.      ,
          0.      ],
       ...,
       [ -7.092988,  -8.055155,  -7.873214, ...,   0.      ,   0.      ,
          0.      ],
       [ -6.3049  ,  -5.453559,  -5.657446, ...,   0.      ,   0.      ,
          0.      ],
       [-13.08287 , -11.856799, -18.21478 , ...,   0.      ,   0.      ,
          0.      ]])>,
  'lmir_jm_anchor': <tf.Tensor: shape=(32, 809), dtype=float64, numpy=
array([[-25.56243 , -25.56243 ,  -3.61181 , ...,   0.      ,   0.      ,
          0.      ],
       [-21.641182, -21.641182, -21.641182, ...,   0.      ,   0.      ,
          0.      ],
       [-14.657934, -14.657934, -14.657934, ...,   0.      ,   0.      ,
          0.      ],

In [12]:
# Create a model with Keras Functional API.
inputs = {
    name: tf.keras.Input(shape=(None, 1), dtype=tf.float32, name=name)
    for name in ds.element_spec[0]
    if name != "_mask"
}

In [13]:
inputs

{'bm25_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'bm25_anchor')>,
 'bm25_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'bm25_body')>,
 'bm25_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'bm25_title')>,
 'bm25_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'bm25_url')>,
 'bm25_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'bm25_whole_document')>,
 'boolean_model_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'boolean_model_anchor')>,
 'boolean_model_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'boolean_model_body')>,
 'boolean_model_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'boolean_model_title')>,
 'boolean_model_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'boolean_model_url')>,
 'boolean_model_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'boolean_model_whole_document')>,
 'covered_query_term_number_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'covered_query_term_number_anchor')>,
 'covered_query_term_number_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'covered_query_term_number_body')>,
 'covered_query_term_number_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'covered_query_term_number_title')>,
 'covered_query_term_number_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'covered_query_term_number_url')>,
 'covered_query_term_number_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'covered_query_term_number_whole_document')>,
 'covered_query_term_ratio_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'covered_query_term_ratio_anchor')>,
 'covered_query_term_ratio_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'covered_query_term_ratio_body')>,
 'covered_query_term_ratio_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'covered_query_term_ratio_title')>,
 'covered_query_term_ratio_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'covered_query_term_ratio_url')>,
 'covered_query_term_ratio_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'covered_query_term_ratio_whole_document')>,
 'idf_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'idf_anchor')>,
 'idf_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'idf_body')>,
 'idf_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'idf_title')>,
 'idf_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'idf_url')>,
 'idf_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'idf_whole_document')>,
 'inlink_number': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'inlink_number')>,
 'length_of_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'length_of_url')>,
 'lmir_abs_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_abs_anchor')>,
 'lmir_abs_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_abs_body')>,
 'lmir_abs_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_abs_title')>,
 'lmir_abs_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_abs_url')>,
 'lmir_abs_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_abs_whole_document')>,
 'lmir_dir_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_dir_anchor')>,
 'lmir_dir_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_dir_body')>,
 'lmir_dir_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_dir_title')>,
 'lmir_dir_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_dir_url')>,
 'lmir_dir_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_dir_whole_document')>,
 'lmir_jm_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_jm_anchor')>,
 'lmir_jm_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_jm_body')>,
 'lmir_jm_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_jm_title')>,
 'lmir_jm_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_jm_url')>,
 'lmir_jm_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'lmir_jm_whole_document')>,
 'max_of_stream_length_normalized_term_frequency_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_stream_length_normalized_term_frequency_anchor')>,
 'max_of_stream_length_normalized_term_frequency_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_stream_length_normalized_term_frequency_body')>,
 'max_of_stream_length_normalized_term_frequency_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_stream_length_normalized_term_frequency_title')>,
 'max_of_stream_length_normalized_term_frequency_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_stream_length_normalized_term_frequency_url')>,
 'max_of_stream_length_normalized_term_frequency_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_stream_length_normalized_term_frequency_whole_document')>,
 'max_of_term_frequency_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_term_frequency_anchor')>,
 'max_of_term_frequency_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_term_frequency_body')>,
 'max_of_term_frequency_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_term_frequency_title')>,
 'max_of_term_frequency_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_term_frequency_url')>,
 'max_of_term_frequency_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_term_frequency_whole_document')>,
 'max_of_tf_idf_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_tf_idf_anchor')>,
 'max_of_tf_idf_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_tf_idf_body')>,
 'max_of_tf_idf_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_tf_idf_title')>,
 'max_of_tf_idf_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_tf_idf_url')>,
 'max_of_tf_idf_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'max_of_tf_idf_whole_document')>,
 'mean_of_stream_length_normalized_term_frequency_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_stream_length_normalized_term_frequency_anchor')>,
 'mean_of_stream_length_normalized_term_frequency_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_stream_length_normalized_term_frequency_body')>,
 'mean_of_stream_length_normalized_term_frequency_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_stream_length_normalized_term_frequency_title')>,
 'mean_of_stream_length_normalized_term_frequency_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_stream_length_normalized_term_frequency_url')>,
 'mean_of_stream_length_normalized_term_frequency_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_stream_length_normalized_term_frequency_whole_document')>,
 'mean_of_term_frequency_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_term_frequency_anchor')>,
 'mean_of_term_frequency_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_term_frequency_body')>,
 'mean_of_term_frequency_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_term_frequency_title')>,
 'mean_of_term_frequency_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_term_frequency_url')>,
 'mean_of_term_frequency_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_term_frequency_whole_document')>,
 'mean_of_tf_idf_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_tf_idf_anchor')>,
 'mean_of_tf_idf_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_tf_idf_body')>,
 'mean_of_tf_idf_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_tf_idf_title')>,
 'mean_of_tf_idf_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_tf_idf_url')>,
 'mean_of_tf_idf_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'mean_of_tf_idf_whole_document')>,
 'min_of_stream_length_normalized_term_frequency_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_stream_length_normalized_term_frequency_anchor')>,
 'min_of_stream_length_normalized_term_frequency_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_stream_length_normalized_term_frequency_body')>,
 'min_of_stream_length_normalized_term_frequency_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_stream_length_normalized_term_frequency_title')>,
 'min_of_stream_length_normalized_term_frequency_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_stream_length_normalized_term_frequency_url')>,
 'min_of_stream_length_normalized_term_frequency_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_stream_length_normalized_term_frequency_whole_document')>,
 'min_of_term_frequency_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_term_frequency_anchor')>,
 'min_of_term_frequency_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_term_frequency_body')>,
 'min_of_term_frequency_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_term_frequency_title')>,
 'min_of_term_frequency_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_term_frequency_url')>,
 'min_of_term_frequency_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_term_frequency_whole_document')>,
 'min_of_tf_idf_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_tf_idf_anchor')>,
 'min_of_tf_idf_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_tf_idf_body')>,
 'min_of_tf_idf_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_tf_idf_title')>,
 'min_of_tf_idf_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_tf_idf_url')>,
 'min_of_tf_idf_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'min_of_tf_idf_whole_document')>,
 'number_of_slash_in_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'number_of_slash_in_url')>,
 'outlink_number': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'outlink_number')>,
 'page_rank': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'page_rank')>,
 'quality_score': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'quality_score')>,
 'quality_score_2': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'quality_score_2')>,
 'query_url_click_count': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'query_url_click_count')>,
 'site_rank': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'site_rank')>,
 'stream_length_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'stream_length_anchor')>,
 'stream_length_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'stream_length_body')>,
 'stream_length_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'stream_length_title')>,
 'stream_length_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'stream_length_url')>,
 'stream_length_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'stream_length_whole_document')>,
 'sum_of_stream_length_normalized_term_frequency_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_stream_length_normalized_term_frequency_anchor')>,
 'sum_of_stream_length_normalized_term_frequency_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_stream_length_normalized_term_frequency_body')>,
 'sum_of_stream_length_normalized_term_frequency_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_stream_length_normalized_term_frequency_title')>,
 'sum_of_stream_length_normalized_term_frequency_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_stream_length_normalized_term_frequency_url')>,
 'sum_of_stream_length_normalized_term_frequency_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_stream_length_normalized_term_frequency_whole_document')>,
 'sum_of_term_frequency_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_term_frequency_anchor')>,
 'sum_of_term_frequency_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_term_frequency_body')>,
 'sum_of_term_frequency_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_term_frequency_title')>,
 'sum_of_term_frequency_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_term_frequency_url')>,
 'sum_of_term_frequency_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_term_frequency_whole_document')>,
 'sum_of_tf_idf_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_tf_idf_anchor')>,
 'sum_of_tf_idf_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_tf_idf_body')>,
 'sum_of_tf_idf_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_tf_idf_title')>,
 'sum_of_tf_idf_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_tf_idf_url')>,
 'sum_of_tf_idf_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'sum_of_tf_idf_whole_document')>,
 'url_click_count': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'url_click_count')>,
 'url_dwell_time': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'url_dwell_time')>,
 'variance_of_stream_length_normalized_term_frequency_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_stream_length_normalized_term_frequency_anchor')>,
 'variance_of_stream_length_normalized_term_frequency_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_stream_length_normalized_term_frequency_body')>,
 'variance_of_stream_length_normalized_term_frequency_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_stream_length_normalized_term_frequency_title')>,
 'variance_of_stream_length_normalized_term_frequency_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_stream_length_normalized_term_frequency_url')>,
 'variance_of_stream_length_normalized_term_frequency_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_stream_length_normalized_term_frequency_whole_document')>,
 'variance_of_term_frequency_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_term_frequency_anchor')>,
 'variance_of_term_frequency_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_term_frequency_body')>,
 'variance_of_term_frequency_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_term_frequency_title')>,
 'variance_of_term_frequency_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_term_frequency_url')>,
 'variance_of_term_frequency_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_term_frequency_whole_document')>,
 'variance_of_tf_idf_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_tf_idf_anchor')>,
 'variance_of_tf_idf_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_tf_idf_body')>,
 'variance_of_tf_idf_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_tf_idf_title')>,
 'variance_of_tf_idf_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_tf_idf_url')>,
 'variance_of_tf_idf_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'variance_of_tf_idf_whole_document')>,
 'vector_space_model_anchor': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'vector_space_model_anchor')>,
 'vector_space_model_body': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'vector_space_model_body')>,
 'vector_space_model_title': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'vector_space_model_title')>,
 'vector_space_model_url': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'vector_space_model_url')>,
 'vector_space_model_whole_document': <KerasTensor: shape=(None, None, 1) dtype=float32 (created by layer 'vector_space_model_whole_document')>}

In [14]:
inputs.keys()

dict_keys(['bm25_anchor', 'bm25_body', 'bm25_title', 'bm25_url', 'bm25_whole_document', 'boolean_model_anchor', 'boolean_model_body', 'boolean_model_title', 'boolean_model_url', 'boolean_model_whole_document', 'covered_query_term_number_anchor', 'covered_query_term_number_body', 'covered_query_term_number_title', 'covered_query_term_number_url', 'covered_query_term_number_whole_document', 'covered_query_term_ratio_anchor', 'covered_query_term_ratio_body', 'covered_query_term_ratio_title', 'covered_query_term_ratio_url', 'covered_query_term_ratio_whole_document', 'idf_anchor', 'idf_body', 'idf_title', 'idf_url', 'idf_whole_document', 'inlink_number', 'length_of_url', 'lmir_abs_anchor', 'lmir_abs_body', 'lmir_abs_title', 'lmir_abs_url', 'lmir_abs_whole_document', 'lmir_dir_anchor', 'lmir_dir_body', 'lmir_dir_title', 'lmir_dir_url', 'lmir_dir_whole_document', 'lmir_jm_anchor', 'lmir_jm_body', 'lmir_jm_title', 'lmir_jm_url', 'lmir_jm_whole_document', 'max_of_stream_length_normalized_term_frequency_anchor', 'max_of_stream_length_normalized_term_frequency_body', 'max_of_stream_length_normalized_term_frequency_title', 'max_of_stream_length_normalized_term_frequency_url', 'max_of_stream_length_normalized_term_frequency_whole_document', 'max_of_term_frequency_anchor', 'max_of_term_frequency_body', 'max_of_term_frequency_title', 'max_of_term_frequency_url', 'max_of_term_frequency_whole_document', 'max_of_tf_idf_anchor', 'max_of_tf_idf_body', 'max_of_tf_idf_title', 'max_of_tf_idf_url', 'max_of_tf_idf_whole_document', 'mean_of_stream_length_normalized_term_frequency_anchor', 'mean_of_stream_length_normalized_term_frequency_body', 'mean_of_stream_length_normalized_term_frequency_title', 'mean_of_stream_length_normalized_term_frequency_url', 'mean_of_stream_length_normalized_term_frequency_whole_document', 'mean_of_term_frequency_anchor', 'mean_of_term_frequency_body', 'mean_of_term_frequency_title', 'mean_of_term_frequency_url', 'mean_of_term_frequency_whole_document', 'mean_of_tf_idf_anchor', 'mean_of_tf_idf_body', 'mean_of_tf_idf_title', 'mean_of_tf_idf_url', 'mean_of_tf_idf_whole_document', 'min_of_stream_length_normalized_term_frequency_anchor', 'min_of_stream_length_normalized_term_frequency_body', 'min_of_stream_length_normalized_term_frequency_title', 'min_of_stream_length_normalized_term_frequency_url', 'min_of_stream_length_normalized_term_frequency_whole_document', 'min_of_term_frequency_anchor', 'min_of_term_frequency_body', 'min_of_term_frequency_title', 'min_of_term_frequency_url', 'min_of_term_frequency_whole_document', 'min_of_tf_idf_anchor', 'min_of_tf_idf_body', 'min_of_tf_idf_title', 'min_of_tf_idf_url', 'min_of_tf_idf_whole_document', 'number_of_slash_in_url', 'outlink_number', 'page_rank', 'quality_score', 'quality_score_2', 'query_url_click_count', 'site_rank', 'stream_length_anchor', 'stream_length_body', 'stream_length_title', 'stream_length_url', 'stream_length_whole_document', 'sum_of_stream_length_normalized_term_frequency_anchor', 'sum_of_stream_length_normalized_term_frequency_body', 'sum_of_stream_length_normalized_term_frequency_title', 'sum_of_stream_length_normalized_term_frequency_url', 'sum_of_stream_length_normalized_term_frequency_whole_document', 'sum_of_term_frequency_anchor', 'sum_of_term_frequency_body', 'sum_of_term_frequency_title', 'sum_of_term_frequency_url', 'sum_of_term_frequency_whole_document', 'sum_of_tf_idf_anchor', 'sum_of_tf_idf_body', 'sum_of_tf_idf_title', 'sum_of_tf_idf_url', 'sum_of_tf_idf_whole_document', 'url_click_count', 'url_dwell_time', 'variance_of_stream_length_normalized_term_frequency_anchor', 'variance_of_stream_length_normalized_term_frequency_body', 'variance_of_stream_length_normalized_term_frequency_title', 'variance_of_stream_length_normalized_term_frequency_url', 'variance_of_stream_length_normalized_term_frequency_whole_document', 'variance_of_term_frequency_anchor', 'variance_of_term_frequency_body', 'variance_of_term_frequency_title', 'variance_of_term_frequency_url', 'variance_of_term_frequency_whole_document', 'variance_of_tf_idf_anchor', 'variance_of_tf_idf_body', 'variance_of_tf_idf_title', 'variance_of_tf_idf_url', 'variance_of_tf_idf_whole_document', 'vector_space_model_anchor', 'vector_space_model_body', 'vector_space_model_title', 'vector_space_model_url', 'vector_space_model_whole_document'])

In [15]:
norm_inputs = [tf.keras.layers.BatchNormalization()(x) for x in inputs.values()]
x = tf.concat(norm_inputs, axis=-1)

for layer_width in [128, 64, 32]:
    x = tf.keras.layers.Dense(units=layer_width)(x)
    x = tf.keras.layers.Activation(activation=tf.nn.relu)(x)
    
scores = tf.squeeze(tf.keras.layers.Dense(units=1)(x), axis=-1)

In [16]:
# Create, compile and train the model.
model = tf.keras.Model(inputs=inputs, outputs=scores)
model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.01),
    loss=tfr.keras.losses.SoftmaxLoss(),
    metrics=tfr.keras.metrics.get("ndcg", topn=5, name="NDCG@5"))
model.fit(ds, epochs=3)

Epoch 1/3

/Users/lhuang/opt/miniconda3/envs/tensorflow2.8/lib/python3.8/site-packages/keras/engine/functional.py:559: UserWarning: Input dict contained keys ['_mask'] which did not match any model input. They will be ignored by the model.
  inputs = self._flatten_to_reference_inputs(inputs)

188/188 [==============================] - 17s 33ms/step - loss: 397.7796 - NDCG@5: 0.3383
Epoch 2/3
188/188 [==============================] - 8s 38ms/step - loss: 396.1713 - NDCG@5: 0.3830
Epoch 3/3
188/188 [==============================] - 8s 36ms/step - loss: 395.8642 - NDCG@5: 0.3952